*, *:before, *:after {
    box-sizing: border-box; 
  }
  html {
    font-size: 13px;
  }
  body {
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #444;
    background-color: hsl(0, 0%, 96%);
  }
  h1 {
    font-size: 1.8rem;
  }
  .box {
    padding: 10px 10px;
    background: #ffa500;
    border-radius: 25px;
  }
  button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  button:active {
    /*ボタンを押したとき*/
    /*-webkit-transform: translateY(4px);*/
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
  
  